// About
.about {
  &__content {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    align-items: center;
  }
  &__info {
    a {
      color: var(--secondary-color);
      transition: all .3s ease-in-out;
    }
    a:hover {
      color: var(--primary-color);
    }
    p:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }
  &__skills-wrapper {
    max-width: 275px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
  }
  &__skill {
    padding: 10px 0;
    font-family: $poppins;
    font-size: 22px;
    line-height: 22px;
    color: var(--primary-color);
    font-weight: bold;
  }
  &__skill::before {
    content: "\2713";
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $primaryColorLt;
    margin-right: 15px;
    background-color: #FFFFFF;
  }
}

//Features
.features {
  &__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  &__wrapper:not(:last-of-type) {
    .features__info a {
      display: none;
    }
  }
  &__inner {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
  }
  &__icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f1f3f6;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px auto 0;
    img {
      width: 35px;
      height: 35px;
    }
  }
  &__info {
    padding: 15px 0;
    h4 {
      margin-bottom: 10px;
    }
    a {
      margin-top: 15px;
    }
  }
}