// About Page
.about {
  &__info {
    column-count: 2;
    column-gap: 35px;
    a {
      color: var(--secondary-color);
      transition: all 0.3s ease-in-out;
    }
    a:hover {
      color: var(--primary-color);
    }
    p:not(:last-of-type) {
      margin-bottom: 25px;
    }
    @media (max-width: 768px) {
      column-count: 1;
      column-gap: 25px;
    }
  }
}

//Features
.features {
  &__wrapper:not(:last-of-type) {
    .features__info a {
      display: none;
    }
  }
  &__wrapper {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
  }
  &__icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f1f3f6;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px auto 0;
    img {
      width: 35px;
      height: 35px;
    }
  }
  &__info {
    padding: 15px 0;
    h4 {
      margin-bottom: 10px;
    }
    a {
      margin-top: 15px;
    }
  }
}
