@keyframes headerIn {
  from {
    left: -125px;
  }
  to {
    left: 0;
  }
}

@keyframes loop-line {
  from {
    left: 150px;
    width: 75px;
  }
  to {
    left: 100%;
    width: 150px;
  }
}

@keyframes scroll {
  from {
    top: 15%;
    opacity: 1;
  }
  to {
    top: 75%;
    opacity: 0.1;
  }
}

@keyframes updown {
  from {
    background-position: bottom center;
  }
  to {
    background-position: top center;
  }
}

@keyframes updownTh {
  from {
    object-position: top;
  }
  to {
    object-position: bottom;
  }
}

@keyframes loopBullets {
  from {
    background-color: var(--secondary-color);
    opacity: 0.2;
  }
  to {
    background-color: var(--primary-color);
    opacity: 1;
  }
}

.headerIn {
  animation: headerIn 1.3s forwards;
}

.onHover {
  animation: updownTh 10s both infinite;
}
