.content-contact {
  position: relative;
  .col-md {
    text-align: center;
  }
  span.contact-icon {
    display: block;
    width: 25px;
    margin: auto;
    svg {
      display: block;
      fill: var(--secondary-color);
    }
  }
  h5 {
    margin: 15px auto;
  }
  a {
    display: inline-block;
    color: var(--secondary-color);
    transition: all .3s ease-in-out;
  }
  a:hover {
    color: var(--primary-color);
  }
  svg {
    width: 25px;
    height: 25px;
    display: block;
    fill: var(--secondary-color);
    transition: all .3s ease-in-out;
    &:hover {
      fill: var(--primary-color);
    }
  }
}
.form-wrapper {
  margin-top: 40px;
}