//Loader
.yabu-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: url(../../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f1f3f6;
}

// Line animation
span.line-separator {
  position: relative;
  display: block;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--secondary-color);
    animation: loop-line 25s linear 2s infinite alternate;
    z-index: 2;
  }
}

// Reusable classes
.col-sm {
  width: 33.33%;
  padding: 15px;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
  gap: 15px;
}

.p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 15px;
}
