// Slider Testimonials
.swiper-container {
  width: 100%;
  height: 100%;
}
.loop-testimonials {
  position: relative;
  .testimonial {
    padding: 15px;
    margin: 50px 15px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: $boxShadow;
  }
  .author-image {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -50px;
    background-color: #f1f3f6;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
  }
  .author-image-inner {
    height: 100%;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .author-testimonial {
    padding: 25px 0;
  }
  .author-info {
    display: flex;
    align-items: center;
    h5 {
      font-weight: normal;
    }
    i {
      padding: 0 5px;
    }
    a {
      color: var(--secondary-color);
      font-size: $sm-fontSize;
      line-height: 1;
      transition: all 0.3s ease-in-out;
    }
    a:hover {
      color: var(--primary-color);
    }
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  width: 25px;
}

//Main Footer
.main-footer {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}

.copy {
  font-size: $sm-fontSize;
  line-height: 1;
}
