// Slider Testimonials
.swiper-container {
  width: 100%;
  height: 100%;
}
.loop-testimonials {
  position: relative;
  .testimonial {
    padding: 15px;
    margin: 50px 15px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
  }
  .author-image {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -50px;
    background-color: #f1f3f6;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
  }
  .author-image-inner {
    height: 100%;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .author-testimonial {
    padding: 25px 0;
  }
  .author-info {
    display: flex;
    align-items: center;
    h5 {
      font-weight: normal;
    }
    i {
      padding: 0 5px;
    }
    a {
      color: var(--secondary-color);
      font-size: $sm-fontSize;
      line-height: 1;
      transition: all .3s ease-in-out;
    }
    a:hover {
      color: var(--primary-color);
    }
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  width: 25px;
}

//Main Footer
.main-footer {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}
.menu-footer {
  ul:after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--secondary-color);
    display: block;
    margin: 10px auto;
  }
  li {
    display: inline-block;
    padding: 0 10px;
  }
  a {
    display: inline-block;
    color: var(--secondary-color);
    transition: all .3s ease-in-out;
  }
  a:hover {
    color: var(--primary-color);
  }
}

.copy {
  font-size: $sm-fontSize;
  line-height: 1;
}

//Cookie
.yabu-cookie {
  position: fixed;
  right: 15px;
  bottom: 15px;
  max-width: 275px;
  z-index: 1111111;
  background-color: #ffffff;
  border-radius: 5px;
  display: none;
}

.cookie-inner {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--background-color);
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  font-size: $sm-fontSize;
  a {
    color: var(--primary-color);
    transition: all .3s ease-in-out;
  }
  a:hover {
    color: var(--secondary-color);
  }
  .actions-cookie {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    span {
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    span:hover {
      color: var(--secondary-color);
    }
  }
  span.accept-cookie {
    margin-right: 15px;
    display: inline-block;
    font-family: $poppins;
    font-size: $sm-fontSize;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 8px 15px;
    color: $secondaryColorLt;
    background-color: #FFFFFF;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
  }
  span.accept-cookie:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}