textarea,
select,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
  appearance: none;
  width: 100%;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-size: $sm-fontSize;
  line-height: 1;
  font-family: $poppins;
  outline: none;
  transition: all .3s ease-in-out;
  background: transparent;
  border-radius: 10px;
  &:focus, &:hover {
    border: 1px solid var(--primary-color);
  }
}

textarea {
  height: 150px;
  resize: none;
}

input[type="submit"] {
  display: inline-block;
  font-family: $poppins;
  font-size: $l-fontSize;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: $secondaryColorLt;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  outline: none;
  border: none;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid $secondaryColorLt;
    background-color: #FFFFFF;
  }
  &:checked:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 1px;
    border: 1px solid #f2f2f2;
    background-color: $primaryColorLt;
  }
}

.form-col {
  width: 50%;
  &:nth-child(1) {
    padding-right: 10px;
  }
  &:nth-child(2) {
    padding-left: 10px;
  }
}

.form-row-full {
  width: 100%;
  padding: 0!important;
}

.form-row {
  display: flex;
  align-items: center;
}

.btn-bottom-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

span.wpcf7-not-valid-tip {
  display: none;
}

.wpcf7-form-control.wpcf7-not-valid {
  border-color: red!important;
}

div.wpcf7-response-output {
  border: none!important;
  text-align: center;
  max-width: 95%;
  margin: 10px auto!important;
  font-size: 1rem;
  line-height: 1;
}

div.wpcf7-validation-errors {
  color: red;
}

.acceptance-145 a {
  color: var(--secondary-color);
  transition: all .3s ease-in-out;
  &:hover {
    color: var(--primary-color);
  }
}

.captcha_wrp {
  width: 100%;
  text-align: center;
  font-size: $sm-fontSize;
  margin: 25px 0;
  a {
    color: var(--secondary-color);
    transition: all .3s ease-in-out;
  }
  a:hover {
    color: var(--primary-color);
  }
}

@media (max-width: 600px) {
  textarea,
  select,
  input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .form-row {
    flex-wrap: wrap;
  }
  .form-col {
    width: 100%;
    &:nth-child(1) {
      padding-right: 0;
    }
    &:nth-child(2) {
      padding-left: 0;
    }
  }
}