*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 100%;
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-family: $muli;
  font-weight: normal;
  font-size: $bodySize;
  line-height: 1.5;
  color: var(--base-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

a {
  text-decoration: none;
  outline: 0;
}

a.btn,
.btn-filter {
  display: inline-block;
  font-family: $poppins;
  font-size: $l-fontSize;
  line-height: 1;
  color: $secondaryColorLt;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}

a.btn-s {
  display: inline-block;
  font-family: $poppins;
  font-size: $l-fontSize;
  line-height: 1;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--primary-color);
  }
}

.btn-filter:active,
.btn-filter.is-checked,
.btn-filter.active {
  background-color: var(--secondary-color);
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.btn-bottom {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.main-wrapper {
  overflow: hidden;
}

.section {
  width: 100%;
  padding-left: 125px;
  background-color: var(--background-color);
}

.display-content {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $poppins;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: $h1-fontSize;
}

h2 {
  font-size: $h2-fontSize;
}

h3 {
  font-size: $h3-fontSize;
}

h4 {
  font-size: $h4-fontSize;
}

h5 {
  font-size: $l-fontSize;
}

.main-title {
  margin-bottom: 50px;
  span {
    display: inline-block;
    color: var(--secondary-color);
  }
  p {
    max-width: 550px;
    margin: auto;
  }
}

// Page cookie
.policy {
  a {
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: var(--primary-color);
  }
}

// Page 404
.page-404 {
  position: relative;
  padding-top: 200px;
  text-align: center;
  h1:before {
    content: "Oops!";
    position: absolute;
    left: 50%;
    top: -210px;
    transform: translateX(-50%);
    font-family: $poppins;
    font-size: 200px;
    line-height: 200px;
    opacity: 0.1;
  }
  p {
    margin: 25px 0;
  }
}
