// Home Hero
.hero {
  &__info {
    span {
      display: block;
      color: var(--secondary-color);
    }
    p {
      margin: 25px 0;
    }
  }
  &__features {
    justify-self: center;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    h3 {
      margin-bottom: 25px;
    }
  }
  &__feature {
    display: flex;
    align-items: center;
  }
  &__feature h4 {
    color: var(--secondary-color);
  }
  &__feature:not(:last-of-type) {
    margin-bottom: 15px;
  }
  &__feature-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: #f1f3f6;
    box-shadow: var(--box-shadow);
    margin-right: 15px;
    transition: all 0.7s ease-in-out;
    img {
      display: block;
      transition: all 0.7s ease-in-out;
    }
  }
  &__feature:hover {
    h4 {
      color: var(--primary-color);
    }
    .hero__feature-icon {
      background-color: #ffffff;
      img {
        transform: rotate(360deg);
      }
    }
  }
}

// Working
.working {
  .bullets-anim {
    i {
      display: inline-block;
      width: 6.5px;
      height: 6.5px;
      border-radius: 50%;
      animation: loopBullets;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
    i:first-of-type {
      animation-delay: 2s;
    }
    i:nth-child(2) {
      animation-delay: 3s;
    }
    i:last-of-type {
      animation-delay: 4s;
    }
  }
  &__content {
    align-items: center;
  }
  &__code-wrapper {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--secondary-color);
    font-size: $h4-fontSize;
    min-height: 175px;
    p {
      color: var(--primary-color);
    }
  }
  &__typed {
    padding-left: 25px;
    @media (max-width: 400px) {
      padding-left: 15px;
    }
  }
  &__image-wrapper {
    position: relative;
    justify-self: center;
  }
  &__image {
    max-width: 450px;
    height: 450px;
    transform: matrix3d(
      0.9,
      0.12,
      0.34,
      -0.0002,
      0,
      1,
      0,
      0,
      -0.34,
      0,
      0.94,
      0,
      1,
      0,
      10,
      1
    );
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      animation: updownTh 15s both infinite;
    }
    @media (max-width: 400px) {
      transform: none;
    }
  }
  #progressbar {
    left: -50px;
    top: -25px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

#typed {
  white-space: pre;
}
