//Tabs projects
.filter-projects {
  text-align: center;
  margin-bottom: 50px;
  button {
    margin: 5px;
  }
}

// Projects cards
.rr_projects {
  position: relative;
  &__inner {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 300px;
    transition: all 0.3s ease-in-out;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $secondaryColorLt;
    padding: 5px 10px;
    color: #ffffff;
    font-size: $sm-fontSize;
    line-height: 1;
    font-weight: bold;
    border-bottom-right-radius: 10px;
  }
  &__info {
    padding: 25px 15px;
    background-color: var(--background-color);
    border-top: 1px solid #f1f3f6;
    a {
      display: inline-block;
      color: var(--primary-color);
      transition: all 0.5s ease-in-out;
    }
  }
  &__info span {
    display: inline-block;
    font-size: $sm-fontSize;
    line-height: 1;
    color: var(--secondary-color);
  }
  &__info span::after {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background-color: var(--secondary-color);
    margin: 5px 0 2px;
  }
  &__inner:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    .rr_projects__info a {
      color: var(--secondary-color);
    }
  }
}

// Single Project Page
.project {
  .main-title h1:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--secondary-color);
  }
  &__content {
    align-items: center;
  }
  &__images-wrapper {
    position: relative;
    height: 700px;
  }
  &__image-back {
    display: block;
    position: absolute;
    top: 50%;
    width: 450px;
    height: 650px;
    right: 0;
    transform: matrix3d(
        0.9,
        0.12,
        0.34,
        -0.0002,
        0,
        1,
        0,
        0,
        -0.34,
        0,
        0.94,
        0,
        1,
        0,
        10,
        1
      )
      translate(-10px, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  &__image-front-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    width: 175px;
    height: 350px;
    transform: translate(25px, -50%);
    z-index: 2;
    img {
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      box-shadow: -10px 10px 15px 10px rgba(125, 125, 125, 0.09);
    }
  }
  &__image-front {
    position: absolute;
    top: 13px;
    left: 3px;
    background-size: 100%;
    width: 96%;
    height: 92.5%;
    border-radius: 10.5px;
    animation-name: updown;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  &__info {
    position: relative;
    span {
      display: block;
      font-family: $poppins;
      font-weight: bold;
    }
    span:not(:first-of-type) {
      margin-top: 15px;
    }
    .link-project {
      margin-top: 25px;
    }
  }
}

// Single Project Progress
#progressbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: transparentize(#ffffff, 0.5);
  box-shadow: var(--box-shadow);
  text-align: center;
  strong,
  span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $poppins;
  }
  strong {
    top: 45px;
    font-size: $h2-fontSize;
    line-height: 1;
  }
  i {
    font-size: $bodySize;
    font-style: normal;
    color: var(--primary-color);
  }
  span {
    bottom: 45px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bolder;
  }
}
