//Fonts
$poppins: "Poppins", sans-serif;
$muli: "Muli", sans-serif;

// Font Size
$bodySize: 1.125rem;
$h1-fontSize: 2.5rem;
$h2-fontSize: 2.125rem;
$h3-fontSize: 1.75rem;
$h4-fontSize: 1.375rem;
$l-fontSize: 1rem;
$sm-fontSize: 0.875rem;
$smallest-fontSize: 0.75rem;

//Colors for Light Mode
$backgroundColorLt: #f1f3f6;
$baseColorLt: #6c757d;
$primaryColorLt: #343a40;
$secondaryColorLt: #5f5f5f;
$boxShadow: 0 5px 15px rgba(0, 0, 0, 0.1);

:root {
  --background-color: #{$backgroundColorLt};
  --base-color: #{$baseColorLt};
  --primary-color: #{$primaryColorLt};
  --secondary-color: #{$secondaryColorLt};
}
